doctype html
html
  head
    title= 'Polymer Mine Sweeper'
    script(src='/javascripts/bower_components/webcomponentsjs/webcomponents.js')
    link(rel='import' href='/javascripts/bower_components/polymer/polymer.html')
    link(rel='import' href='/web-components/ms-board.html')
    link(rel='stylesheet' href='/stylesheets/pms.css')
  body
    a(href='/#code') Back
    template#game-template(is='auto-binding')
      div(horizontal layout)
        h1 Polymer Mine Sweeper
        div#inputs(horizontal layout)
          template(repeat='{{i in inputsConfig}}')
            div(flex vertical layout center)
              div {{i.name}}
              input(
                type='number'
                step='{{i.step}}'
                min='{{i.min}}'
                max='{{i.max}}'
                value='{{i.value}}'
              )
        button(on-click='{{play}}' self-center) Play
      div#board
    script.
      /**
       * Set up default data-binding values for the template
       */
      var template = document.querySelector('#game-template');
      template.inputsConfig = [{
        name: 'rows',
        step: 5,
        min: 5,
        max: 20,
        value: 10
      }, {
        name: 'columns',
        step: 5,
        min: 5,
        max: 40,
        value: 15
      }, {
        name: 'mines',
        step: 5,
        min: 5,
        max: 200,
        value: 15
      }];
      /**
       * Inject the board dynamically
       */
      template.play = function(e) {
        this.$.board.innerHTML = '';
        var max = this.inputsConfig[0].value * this.inputsConfig[1].value;
        if(this.inputsConfig[2].value > max) {
          this.inputsConfig[2].value = max - 1;
        }
        if(this.inputsConfig[2].value < 1) {
          this.inputsConfig[2].value = 1;
        }
        this.injectBoundHTML('<ms-board rows={{inputsConfig[0].value}} columns={{inputsConfig[1].value}} mines={{inputsConfig[2].value}}></ms-board>', this.$.board);
      };
